
.attractionContainer{
    background-image: url("https://thumbs.dreamstime.com/b/travel-photos-turquoise-wood-background-heap-azure-55515164.jpg");
    /*height:100vh;*/
    width: 100vw;
    background-size: cover;
    background-position: center; 
    padding-left: 0px;
}

.boxAroundSearchBox{
    display: flex;
    justify-content: center;
    min-height: 80px;
    margin-top: 0;
    height: 220px;

}

#searchBoxInput{
    width: 50%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 2px solid black;
    background: #f1f1f1;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1.0;


}

#searchBoxInput[type=search]:focus{
    background-color: #ddd;
    outline: none;
    margin-left: 5px;
  }


.searchBox{
    margin-top: 80px;
    height: 150px;
    max-width: 900px;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;    

}


.attractionList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-between;
    margin: 20px;
    align-items: center;
}

.flexItemAttraction{
    display: flex; 
    width: 335px;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-overflow:ellipsis; 
    background-color: #fefefe;    
   
}

.flexItemAttraction:hover{
    text-decoration: underline;
}
    

img{
    margin-right: 10px;
    margin-top: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
   
}

p{
    margin-bottom: 10px;
    object-fit: cover;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis; 
    font-size: 20px;
    font-weight: bold;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1.0;
}


.searchBoxHeader{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1.0;

    
}
