.SubmitAttraction{
    background-image: url("https://thumbs.dreamstime.com/b/golden-retriever-dog-wearing-sun-glasses-laying-down-wooden-floor-travel-accessories-hat-camera-passport-cover-golden-160419033.jpg");
    height:100vh;
    width: 100vw;
    background-size: contain;
    background-position: center; 
    padding-left: 0px;
  }

  .formController{
    margin: 30px auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 750px;
    height: 500px;
    padding: 20px;
  }

  .submitAttractionForm {
    padding: 14px;
    background-color: rgba(255,255,255, 0.8);
    margin-top: 40px;
    border: 1px solid #888;
    border-radius: 5px;
  }

  .submitAttractionHeader{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .submitAttractionDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }

  .inputSubmitAttraction[type=text]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 2px solid black;
    background: #f1f1f1;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  .inputSubmitAttraction[type=text]:focus{
    background-color: #ddd;
    outline: none;
    margin-left: 5px;
  }

  /* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #label{
    font-size: 20px;
    font-weight: bold;
  }

  @media screen and (max-width: 768px){
    .submitAttractionForm{
      width: 90vw;
      margin-top: 80px;
      padding: 5px;
    }

    .signUpParagraph{
      white-space: normal;
    }

    .submitAttractionDiv{
      height: 70px;
    }

   
}