/*.App {
    text-align: center;
  }*/

* {
    box-sizing: border-box;
} 

body{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    background-color:white;
}


/*.createSpace{
    height: 40px;
} */

.container{
    /*margin: 20px;*/
    text-align: center;
    justify-content: center;
    height: 100%;
}

.navbar{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: fixed;
    width:100%;
    top: 0;
    margin-bottom: 0;
    
}

.navbar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    font-weight: bold;
}

.drop-btn{
    /*height: 80%;*/
   /* margin-top: 5px;
    background-color: #333;
   ;*/

    background-color: #333;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    font-weight: bold;
    border: none
    
}

.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.site-title{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar li.active{
    background-color: rgb(214, 208, 208);
}

.navbar li:hover{
    background-color: rgb(36, 33, 33);
}

.dropdown {
    float: left;
    font-size: 16px;  
    outline: none;
    border:none;
    padding: 4px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  
  .dropdown-content{
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,1.5);
      z-index: 2;
    }

    
    
    .dropdown-content li {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        background-color:  #333;
    }
    
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
